body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.grid-container {
  padding: 10px;
  width: 1200px;
  min-height: 900px;
  margin: 0 auto;
  background-color: rgb(42, 40, 40);
}
.grid-container__box {
  border: 1px solid black;
  min-height: 13vh;
  width: 100%;
  background-color: green;
}
.grid-container__box i {
  color: FloralWhite;
}

h1 {
  text-align: center;
  font-style: 25px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.aqua {
  background-color: aqua;
}

.blueviolet {
  background-color: blueviolet;
}

.burlywood {
  background-color: burlywood;
}

.darkgoldenrod {
  background-color: darkgoldenrod;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 100px;
  grid-template-rows: 200px 100px;
  grid-gap: 5px;
}
.grid-container__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-box {
  height: 100vh;
  display: grid;
  place-content: center;
}

.box-wrapper {
  background-color: rgba(106, 105, 105, 0.778);
  width: 1140px;
  min-height: 800px;
}

html h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  background-color: #fff;
  background-image: linear-gradient(30deg, rgba(16, 59, 32, 0.8588235294), #6df008);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html h2 {
  font-size: 1.5rem;
}
html p {
  font-size: 1.125rem;
}

.nav h1 {
  margin: 0 auto;
}

.container {
  margin-top: 1rem;
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
}

.row-box {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 15px;
}
.column p {
  text-align: left;
}

aside.column {
  background-color: #626f37;
  color: hsl(54deg, 100%, 90%);
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

.profile__card {
  background: linear-gradient(30deg, rgba(216, 195, 10, 0.8588235294), #fef1bb);
  border: 1px solid #2a91e5;
  border-radius: 16px;
}

.article-wrapper {
  display: flex;
  justify-content: space-between;
}