body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.grid-container {
  padding: 10px;
  width: 1200px;
  min-height: 900px;
  margin: 0 auto;
  background-color: rgb(42, 40, 40);
}
.grid-container__box {
  border: 1px solid black;
  min-height: 13vh;
  width: 100%;
  background-color: green;
}
.grid-container__box i {
  color: FloralWhite;
}

h1 {
  text-align: center;
  font-style: 25px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.aqua {
  background-color: aqua;
}

.blueviolet {
  background-color: blueviolet;
}

.burlywood {
  background-color: burlywood;
}

.darkgoldenrod {
  background-color: darkgoldenrod;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 100px;
  grid-template-rows: 200px 100px;
  grid-gap: 5px;
}
.grid-container__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-box {
  height: 100vh;
  display: grid;
  place-content: center;
}

.box-wrapper {
  background-color: rgba(106, 105, 105, 0.778);
  width: 1140px;
  min-height: 800px;
}

html h1 {
  font-size: 3rem;
  font-family: "Lora", sans-serif;
  text-align: center;
  font-weight: 400;
  background-color: #fff;
  background-image: linear-gradient(45deg, rgba(239, 240, 243, 0.8588235294), #161495, #f7f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
html h2 {
  font-size: 1.5rem;
}
html p {
  font-size: 1.125rem;
}

.sub-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  color: #1792d2;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 0.5em 2em;
}
.nav__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.nav__item {
  padding: 0 0.5em;
}
.nav__link {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-weight: 300;
  color: #707070;
  text-transform: uppercase;
  padding: 0.25em 0;
}
.nav__link:hover, .nav__link:focus {
  color: #1792d2;
  border-bottom: 2px solid #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: 0.5rem auto;
}

.row-box {
  margin-top: 0.5rem;
  display: flex;
}

.column {
  padding: 15px;
}
.column p {
  text-align: left;
}

aside.column {
  background-color: #626f37;
  color: hsl(54deg, 100%, 90%);
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

.profile__card {
  background: linear-gradient(30deg, rgba(216, 195, 10, 0.8588235294), #fef1bb);
  border: 1px solid #2a91e5;
  border-radius: 16px;
  text-align: center;
}
.profile__qoutation {
  display: block;
  text-align: center;
}

.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (min-width: 1400px) {
  .article-wrapper {
    justify-content: space-between;
  }
}
@media (max-width: 1200px) {
  .article-wrapper {
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  .nav__wrapper {
    flex-direction: column;
  }
  .sub-title {
    text-align: center;
  }
  .article-wrapper {
    justify-content: space-around;
  }
  .profile__card {
    min-width: 45%;
  }
  .row-box {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .col-max {
    min-width: 300px;
  }
}
@media (max-width: 768px) {
  .nav h1 {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }
  .nav__list {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em;
  }
}