//  -------------------- базовые настройки документа -------------------- //
html
  h1
    font-size: 3rem
    text-align: center
    font-weight: 900
    background-color: #fff
    background-image: linear-gradient(45deg, #103b20db, #6df008)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  h2
    font-size: 1.5rem
  p
    font-size: 1.125rem

// -------------------- навигационное меню  -------------------- //
.nav
  h1
    margin: 0 auto

//  -------------------- layout  -------------------- //
.container
  margin-top: 1rem
  width: 95%
  max-width: 1140px
  margin: 0 auto

.row-box
  margin-top: .5rem
  display: flex

.column
  padding: 15px
  p
    text-align: left

aside.column
  background-color: #626f37
  color: hsl(54, 100%, 90%)

.col-1
  width: 25%
.col-2
  width: 50%
.col-3
  width: 75%

.profile
  &__card
    background: linear-gradient(30deg, #d8c30adb, #fef1bb)
    border: 1px solid #2a91e5
    border-radius: 16px
  &__qoutation
    display: block
    text-align: center
.article-wrapper
  display: flex
  flex-wrap: wrap
  gap: 0.5rem
