.grid-container
  padding: 10px
  width: 1200px
  min-height: 900px
  margin: 0 auto
  background-color: rgb(42, 40, 40)
  &__box
    border: 1px solid black
    min-height: 13vh
    width: 100%
    background-color: green
    i
      color: FloralWhite
h1
  text-align: center
  font-style: 25px

.red
  background-color: red

.blue
  background-color: blue

.aqua
  background-color: aqua

.blueviolet
  background-color: blueviolet

.burlywood
  background-color: burlywood

.darkgoldenrod
  background-color: darkgoldenrod
