.profile
  padding: 25px
  display: flex
  flex-wrap: wrap
  gap: 15px
  &__card
    display: grid
    place-content: center
    background-color: #a4a0a0
    border: 1px solid black
    border-radius: 16px
    padding: 5px 15px
    max-width: 350px

  &__caption

  &__image

  &__info

  &__qoutation
